## List

In [1]:
# ordered, members could be different
list_1 = [12, 15.6, True, 'hello', ['a', 'b']]
list_2 = [1, 2, 3, 4]
list_3 = list('hello')
list_4 = []

In [2]:
list_3

['h', 'e', 'l', 'l', 'o']

### Create

In [3]:
# create a new list
list_5 = list_2 + list_3
list_5

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [4]:
list_2 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list_2.append('good')
list_2

In [8]:
# add to the end of list
list_2.append(list_3)
list_2

[1, 2, 2, 3, 4, 'good', 'h', 'e', 'l', 'l', 'o', ['h', 'e', 'l', 'l', 'o']]

In [9]:
# add to the beginning of list
# too slow, not recommanded
list_2.insert(1, 2)
list_2

[1, 2, 2, 2, 3, 4, 'good', 'h', 'e', 'l', 'l', 'o', ['h', 'e', 'l', 'l', 'o']]

In [10]:
# combine two lists
list_2.extend(list_3)
list_2

[1,
 2,
 2,
 2,
 3,
 4,
 'good',
 'h',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

### Read

In [11]:
list_2[0], list_2[3], list_2[-1]

(1, 2, 'o')

In [12]:
list_2[1:6], list_2[:3], list_2[1:], list_2[:-2]

([2, 2, 2, 3, 4],
 [1, 2, 2],
 [2,
  2,
  2,
  3,
  4,
  'good',
  'h',
  'e',
  'l',
  'l',
  'o',
  ['h', 'e', 'l', 'l', 'o'],
  'h',
  'e',
  'l',
  'l',
  'o'],
 [1,
  2,
  2,
  2,
  3,
  4,
  'good',
  'h',
  'e',
  'l',
  'l',
  'o',
  ['h', 'e', 'l', 'l', 'o'],
  'h',
  'e',
  'l'])

In [13]:
2 in list_2

True

In [14]:
if 2 in list_2:
    print(list_2.index(2))

1

In [15]:
list_2.count(2)

3

In [16]:
list_2 == list_2[:]

True

### Update

In [17]:
list_2[2] = 100
list_2

[1,
 2,
 100,
 2,
 3,
 4,
 'good',
 'h',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [18]:
list_2[1:3] = [20, 30, 40, 1, 2, 3, 4]
list_2

[1,
 20,
 30,
 40,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 'good',
 'h',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [19]:
list_2[1:3] = []
list_2

[1,
 40,
 1,
 2,
 3,
 4,
 2,
 3,
 4,
 'good',
 'h',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

### Delete

In [ ]:
# it will pop the last element in list
list_2.pop()

In [21]:
# it will pop the element of assigned index
list_2.pop(1)
list_2

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 'good',
 'h',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [23]:
# delete the first 4 in the list, not all 4s in the list
list_2.remove(4)
list_2

[1,
 2,
 3,
 2,
 3,
 'good',
 'h',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [24]:
del list_2[6]
list_2

[1,
 2,
 3,
 2,
 3,
 'good',
 'e',
 'l',
 'l',
 'o',
 ['h', 'e', 'l', 'l', 'o'],
 'h',
 'e',
 'l',
 'l',
 'o']

In [27]:
del list_2[2:4]
list_2

[1, 2, 'e', 'l', 'l', 'o', ['h', 'e', 'l', 'l', 'o'], 'h', 'e', 'l', 'l', 'o']

In [28]:
len(list_3)

5

In [29]:
# change this list itself
list_3.sort()
list_3

['e', 'h', 'l', 'l', 'o']

In [31]:
# assign sorted list_3 to list_new, but remain itself unchanged
list_new = sorted(list_3)
list_3

['e', 'h', 'l', 'l', 'o']

In [30]:
list_3.reverse()
list_3

['o', 'l', 'l', 'h', 'e']

### List Comprehensions

In [23]:
# Generate a list containing multiples of 5 within 100

# NP
result = []
for i in range(101):
    if i % 5 == 0:
        result.append(i)
print(result)
        
# P
result = [i for i in range(101) if i % 5 == 0]
print(result)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]